<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WCC Test</title>
</head>
<body>
    <div>
        <a href="qnreading://jstest">打开天天快报查看版本信息</a>
    </div>
</body>
</html>